<mat-card class="motes-card-container">
  <mat-card-subtitle>Motes</mat-card-subtitle>
  <mat-card-title>Mote Price Data</mat-card-title>
  <mat-card-content class="motes-card-content">
    <div class="formular">
      <nwcalc-motes-formular></nwcalc-motes-formular>
    </div>
    <div class="motes-img"></div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
