<div class="motes-input-container" *ngIf="motes$ | async as motes">
  <div class="select-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select (selectionChange)="orderBy($event.value)" [value]="'0'">
        <mat-option value="0">Type asc</mat-option>
        <mat-option value="1">Tier asc</mat-option>
        <mat-option value="2">Type desc</mat-option>
        <mat-option value="3">Tier desc</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card class="motes-card-container" *ngFor="let mote of motes; let i = index" [@slideInOut]="{ value: true, params: {delay: i * 50, transform: i*200, rotate: i == 0 ? 0:200}}"> <!-- https://stackoverflow.com/questions/50806212/how-to-use-input-parameters-in-angular-6-animation -->
    <mat-card-header class="motes-card-header">
      <div mat-card-avatar class="motes-card-img" [ngStyle]="{'background-image': mote.imageURL}"></div>
      <mat-card-title class="motes-card-title">{{mote.name}}</mat-card-title>
      <mat-card-subtitle class="motes-card-subtitle">
        <span class="flexgrow">Tier: {{mote.moteTier}}</span>
        <span>{{getNameForItem(mote.itemType)}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="motes-card-content">
      <nwcalc-motes-formular class="motes-card-formular" [moteModel]="motes[i]" (moteModelChange)="saveData($event)"></nwcalc-motes-formular>
    </mat-card-content>
  </mat-card>
</div>
